# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
*.lock

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
*.apk
*.aab
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Generated
*.g.dart
*.freezed.dart
*.mocks.dart

# OS
.DS_Store
Thumbs.db